@import "../../node_modules/bulma/bulma.sass";

.zoom {
    max-width: 620px;
    margin-top: 20vh;
    margin-bottom: 20vh;

    &__inner {
        background-color: $white;
        border-radius: $radius;
        padding: $box-padding;
        box-shadow: 0 0px 8px 0 rgba(0,0,0,0.25);
    }

    &__modal {
        background-color: $white;
        border-radius: $radius;
        padding: $box-padding;
    }

    &__image {
        padding-top: $box-padding;
        padding-bottom: $box-padding;
    }
}